// Import the variables and settings first. These can contain settings for used plugins (f.e. normalize etc)

// Variables
//
// Styleguide 1
@import "loader/variables";

// Plugins
//
// Styleguide 2
@import "loader/plugins";

// Abstractions
//
// Styleguide 3
@import "loader/abstractions";

// Base
//
// Styleguide 4
@import "loader/base";

// Layouts
//
// Styleguide 5
@import "loader/layouts";

// Components
//
// Styleguide 6
@import "loader/components";

@media print {
  @import "print";
}






/*doc
---
title: Elements
name: elementsskins
category: elements
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Forms
name: formsskins
category: forms
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Widgets
name: widgetsskins
category: widgets
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Media
name: mediaskins
category: media
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Do's & don'ts
name: dosanddontsskins
category: dos_and_donts
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/
