// Import the variables and settings first. These can contain settings for used plugins (f.e. normalize etc)

// Variables
//
// Styleguide 1
@import "loader/variables";

// Plugins
//
// Styleguide 2
@import "loader/plugins";

// Abstractions
//
// Styleguide 3
@import "loader/abstractions";

// Base
//
// Styleguide 4
@import "loader/base";

// Layouts
//
// Styleguide 5
@import "loader/layouts";

// Components
//
// Styleguide 6
@import "loader/components";

@media print {
  @import "print";
}


/*doc
---
title: Basics
name: basics
category: basics
---

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim eu justo porta eleifend. Donec condimentum bibendum ex at facilisis. In elit diam, laoreet blandit rhoncus eu, dignissim eu metus. Sed bibendum lacus sit amet faucibus pellentesque. Nulla quis congue quam. Nam tincidunt ex eros, non scelerisque diam lacinia porttitor.</p>
<div class="line txtC">
    <div class="col cols6 ">
      <div class="docSwatch backgroundLowlight"></div>
      <code>backgroundLowlight</code>
    </div>
    <div class="col cols6 ">
      <div class="docSwatch backgroundHighlight"></div>
      <code>backgroundHighlight</code>
    </div>
    <div class="col cols6 ">
      <div class="docSwatch backgroundBasic"></div>
      <code>backgroundBasic</code>
    </div>
    <div class="col cols6 lastCol">
      <div class="docSwatch backgroundInverse"></div>
      <code>backgroundInverse</code>
    </div>
</div>
*/


/*doc
---
title: Menu
name: menuskins
category: menus
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Objects
name: objectsskins
category: objects
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Elements
name: elementsskins
category: elements
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Forms
name: formsskins
category: forms
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Widgets
name: widgetsskins
category: widgets
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Media
name: mediaskins
category: media
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/

/*doc
---
title: Do's & don'ts
name: dosanddontsskins
category: dos_and_donts
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```*/




/*doc
---
title: Test
name: test
category: basics
---

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim eu justo porta eleifend. Donec condimentum bibendum ex at facilisis. In elit diam, laoreet blandit rhoncus eu, dignissim eu metus. Sed bibendum lacus sit amet faucibus pellentesque. Nulla quis congue quam. Nam tincidunt ex eros, non scelerisque diam lacinia porttitor.</p>

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with the trulia orange used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
```

*/
