<div class="l-third island island--alpha js-height">
    <h2 class="h1 hT">Lorem title</h2>
    <div class="item-list">
        <ul class="link-list">
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
        </ul>
    </div>
</div>


<div class=" island island--epsilon js-height block block-gent-gentinfo">
    <h2 class="h1 hT">Lorem title</h2>
    <p class="column">Mauris porttitor vestibulum massa nec varius. Fusce odio arcu, egestas scelerisque iaculis sed, consectetur et dolor. </p>
    <ul class="no-bullet-list column address">
        <li>
            <a href="tel:+3292101010" itemprop="telephone"><i class="icon-phone"></i>09 210 10 10 – ma-za van 8-19u</a>
        </li>
        <li>
            <a href="mailto:lorem@msum.com"><i class="icon-email"></i>lorem@msum.com</a>
        </li>
    </ul>
    <ul class="no-bullet-list contact">
        <li>
            <a href="#" class="btn btn--medium btn--delta"><span class="btn-centered"><i class="icon-link"></i>Contactform</span></a>
        </li>
    </ul>
</div>





<div id="block-views-homepage-news-block" class="block block-views contextual-links-region">
    <h3 class="block__title h1 hT">News</h3>
    <div class="masonry-wrapper">
        <div class="view view-homepage-news view-id-homepage_news view-display-id-block multi-column">
            <div class="multi-column-items" style="position: relative;">
                <article class="ds-1col node node-event node-teaser contextual-links-region view-mode-teaser l-third island island--zeta clearfix">
                    <div class="island__image mask ratio--big-thumb">
                        <figure>
                            <a href="#"><img src="#" alt="Cine Prive beeld"></a>
                        </figure>
                    </div>
                    <div class="island__body"><strong class="milli">Theme lorem ipsum</strong>
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="event"><i class="icon-calendar"></i><span class="data"><span class="date-display-start">11 feb 2015</span> tot <span class="date-display-end">14 feb 2015</span></span>
                        </div>
                        <p>Praesent bibendum, erat non aliquam sagittis, sapien turpis dictum leo, eget condimentum felis erat rhoncus elit.</p><a href="#">Read more</a></div>
                </article>
                <article class="ds-1col node node-event node-teaser contextual-links-region view-mode-teaser l-third island island--zeta clearfix">
                    <div class="island__image mask ratio--big-thumb">
                        <figure>
                            <a href="#"><img src="#" alt="Cine Prive beeld"></a>
                        </figure>
                    </div>
                    <div class="island__body"><strong class="milli">Theme lorem ipsum</strong>
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="event"><i class="icon-calendar"></i><span class="data"><span class="date-display-start">11 feb 2015</span> tot <span class="date-display-end">14 feb 2015</span></span>
                        </div>
                        <p>Praesent bibendum, erat non aliquam sagittis, sapien turpis dictum leo, eget condimentum felis erat rhoncus elit.</p><a href="#">Read more</a></div>
                </article>
                <div class="contextual-container contextual-links-region">
                    <div>
                        <article class="l-third island js-link clearfix island--epsilon uig-block" style="position: absolute; left: 840px; top: 0px;">
                            <div class="island__body">
                                <h2 class="h1 hT">Lorem ipsum dolor sit amet<img style="margin:10px 0px;" src="#" alt="Uit in Gent"> consectetur.</h2> Nulla placerat libero quis ipsum aliquet cursus. Praesent bibendum, erat non aliquam sagittis, sapien turpis dictum leo, eget condimentum felis erat rhoncus elit. Ut tincidunt quis nibh in posuere. <a href="#" class="btn btn--medium btn--delta">Visit Lorem ipsum</a> </div>
                        </article>
                    </div>
                </div>
                <div class="gutter"></div>
            </div>
            <footer class="l-full l-center padding-top--big">
                <a href="/stad.gent/nieuws-evenementen" class="morelink"> More news </a>
            </footer>
        </div>
    </div>
</div>

