<div class="l-third island island--alpha js-height">
    <h2 class="h1 hT">Lorem title</h2>
    <div class="item-list">
        <ul class="link-list">
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
            <li><a href="#">Mauris porttitor vestibulum</a></li>
        </ul>
    </div>
</div>


<div class=" island island--epsilon js-height block block-gent-gentinfo">
    <h2 class="h1 hT">Lorem title</h2>
    <p class="column">Mauris porttitor vestibulum massa nec varius. Fusce odio arcu, egestas scelerisque iaculis sed, consectetur et dolor. </p>
    <ul class="no-bullet-list column address">
        <li>
            <a href="tel:+3292101010" itemprop="telephone"><i class="icon-phone"></i>09 210 10 10 – ma-za van 8-19u</a>
        </li>
        <li>
            <a href="mailto:lorem@msum.com"><i class="icon-email"></i>lorem@msum.com</a>
        </li>
    </ul>
    <ul class="no-bullet-list contact">
        <li>
            <a href="#" class="btn btn--medium btn--delta"><span class="btn-centered"><i class="icon-link"></i>Contactform</span></a>
        </li>
    </ul>
</div>






<div class="region region-content-top">
    <div class="block block-gentbe-banners">
        <div class="l-third island island--alpha js-height">
            <h2 class="h1 hT">Lorem title</h2>
            <div class="item-list">
                <ul class="link-list">
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                </ul>
            </div>
        </div>
        <div class="l-third island island--alpha js-height">
            <h2 class="h1 hT">Lorem title</h2>
            <div class="item-list">
                <ul class="link-list">
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                    <li><a href="#">Mauris porttitor vestibulum</a></li>
                </ul>
            </div>
        </div>
        <div class=" island island--epsilon js-height block block-gent-gentinfo">
            <h2 class="h1 hT">Lorem title</h2>
            <p class="column">Mauris porttitor vestibulum massa nec varius. Fusce odio arcu, egestas scelerisque iaculis sed, consectetur et dolor. </p>
            <ul class="no-bullet-list column address">
                <li>
                    <a href="tel:+3292101010" itemprop="telephone"><i class="icon-phone"></i>09 210 10 10 – ma-za van 8-19u</a>
                </li>
                <li>
                    <a href="mailto:lorem@msum.com"><i class="icon-email"></i>lorem@msum.com</a>
                </li>
            </ul>
            <ul class="no-bullet-list contact">
                <li>
                    <a href="#" class="btn btn--medium btn--delta"><span class="btn-centered"><i class="icon-link"></i>Contactform</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


