  </div>
          </div>
      </div>
      <!-- Footer
  ================================================== -->
      <footer class="bs-docs-footer" role="contentinfo">
          <div class="container">
          </div>
      </footer>
  </div>
    <script>
$(document).ready(function() {

  // set the active tab
  var currentHref = document.location.pathname.split( '/' );
  var currentHrefPart = "";
  var i = currentHref.length - 1;
  currentHrefPart = currentHref[i];
  if (currentHref)
  {
    $('.docNav').find('a[href^="' + currentHrefPart + '"]').addClass('activeNavElem typeEmphasize');
    $('.docNav').find('a[href^="' + currentHrefPart + '"]').parent().addClass('active');
  }
  else
  {
    $('.docNav').find('a').eq(0).addClass('activeNavElem typeEmphasize');
  }


});
</script>
<script type="text/javascript" src="../build/script/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../../../gentbe/js/theme.min.js"></script>
<script type="text/javascript" src="../build/script/own.js"></script>
</body>

</html>
