$saturation: 5 !default;
$lightness: 5 !default;
$darkness: 5 !default;

// Colors

$alpha-ui-color: #007db3;  // Blue
$beta-ui-color: #2c3f48;  // Dark blue
$gamma-ui-color: #ecf5f7;  // Blue tint
$delta-ui-color: #f39200;  // Orange

$alpha-text-color: #595f60;  // Grey
$beta-text-color: #6c7678;  // Lighter grey
$gamma-text-color: #9da8af;  // Lightest grey
$delta-text-color: #f39200;  // Orange

$error-color: #d62300;  // Red
$success-color: #93d600;  // Green
$notice-color: #f39200;  // Orange

$disabled-ui-color: #f5f5f1;
$disabled-color: #c0c0bb;

$white-color: #ffffff;
$dark-color: darken(#595f60, 20);

// Links

$alpha-link-color: $alpha-ui-color;
$alpha-link-colorhover: darken($alpha-ui-color, 10);
$alpha-link-colorfocus: darken($alpha-ui-color, 10);
$alpha-link-coloractive: $alpha-ui-color;
$alpha-link-colorvisited: $alpha-ui-color;


/*doc
---
title: Colors
name: Colors
category: basics
---

<p class="lead">We have a few background colors that can be used in various contexts.
These are not for use as the entire page background but instead for
specific components and modules on the page.</p>

<div class="line txtC">
                  <div class="row bs-examples colors-wrapper">
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors gamma-ui-color">
                      </a>
                      <h4 id="narrow-jumbotron">#ecf5f7<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors alpha-ui-color">
                      </a>
                      <h4 id="narrow-jumbotron">#007db3<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors beta-ui-color">
                      </a>
                      <h4 id="narrow-jumbotron">#2c3f48<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="clearfix visible-xs visible-sm"></div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors delta-ui-color">
                      </a>
                      <h4 id="narrow-jumbotron">#f39200<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="clearfix visible-md visible-lg"></div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors error-color">
                      </a>
                      <h4 id="narrow-jumbotron">#d62300<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors success-color">
                      </a>
                      <h4 id="narrow-jumbotron">#93d600<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="clearfix visible-xs visible-sm"></div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors white-color">
                      </a>
                      <h4 id="narrow-jumbotron">#ffffff<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors disabled-ui-color">
                      </a>
                      <h4 id="narrow-jumbotron">#f5f5f1<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="clearfix visible-md visible-lg"></div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors disabled-color">
                      </a>
                      <h4 id="narrow-jumbotron">#c0c0bb<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="clearfix visible-xs visible-sm"></div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors gamma-text-color">
                      </a>
                      <h4 id="narrow-jumbotron">#9da8af<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors beta-text-color">
                      </a>
                      <h4 id="narrow-jumbotron">#6c7678<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors alpha-text-color">
                      </a>
                      <h4 id="narrow-jumbotron">#595f60<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                    <div class="clearfix visible-xs visible-sm"></div>
                    <div class="clearfix visible-md visible-lg"></div>
                    <div class="col-xs-4 col-md-3">
                      <a class="thumbnail used-colors dark-color">
                      </a>
                      <h4 id="narrow-jumbotron">#282b2b<a class="anchorjs-link" href="#narrow-jumbotron"><span class="anchorjs-icon"></span></a></h4>
                      <br/>
                    </div>
                  </div>
</div>
*/
